# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# generated directory
**/generated

# output directory
/out

# msbuild output directories
/bin
/obj
.vs/slnx.sqlite
.gitignore
.vs/PCF-ClearableYesNoDropdown/FileContentIndex/read.lock
.vs/PCF-ClearableYesNoDropdown/FileContentIndex/7c26c273-81bb-4f21-8f5d-488c50d3a51a.vsidx
/.vs/PCF-ClearableYesNoDropdown/FileContentIndex
